//@author Ian Mori
//@since May 28, 2014
//CSS style sheet

body {
    background-color: black;
    font-family: Verdana, Arial, sans-serif;
    font-size: smaller;
    padding: 50px;
    color: #555;
    width: 650px;
}

td{
    color:lawngreen;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;

}

a:active {
    text-decoration: none;
}

.buttonLook {
    font: 14px sans-serif;
    background-color: black;
    color: lawngreen;
    padding: 3px 6px 3px 6px;
    margin-top: 3px;
    margin-bottom: 3px;
    border:2px solid lawngreen;
    border-radius: 2px;
}

.yellow {
    color:yellow;
}

.blackBack{
    background-color: black;
}

.alignInput{
    width:1000px;
    margin-left: 40%;

}
.inputStyle{
    color:yellow;
    background-color:black;
    border:2px solid #83F52C;
    border-radius: 2px;

}

.buttonStyle{
    background-color: black;
    border: 2px solid lawngreen;
    color: lawngreen;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}
.buttonStyle2{
    background-color: black;
    border: 2px solid lawngreen;
    color: lawngreen;
    border-radius: 2px;
}

.headingColour {
    letter-spacing: 6px;
    font-size: 1.6em;
    font-weight: bold;
    color:blue;
    background-color: lawngreen;
    text-align: center;
    width:45%;   
    border-radius:5px;
    text-align: center;
    padding:5px 5px 5px 5px;
}

.infoMessageCheck{
    color: blue;
    background-color:lawngreen;
    width:40%;
    border-radius:5px;
}

.errorX{
    color: yellow;
    background-color:red;
    width:40%;
    border-radius:5px;
}


.greenColour{
    color:lawngreen;
    letter-spacing: 3px;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
}

input{
    border-radius:2px;
}

.styleTable{
    width:720px;
    background-color: blue;
    padding: 10px;
    font-family: sans-serif;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.yellowBlack{
    background-color: black;
    color:yellow;
}

td {
    padding: 10px;
    color: lawngreen;
    font-weight: bold;
    white-space: nowrap;
}

.blueColour{
    color:blue;
}

.greenIt{
    color:lime;
}

.popupBox {
    position: absolute;
    top: 170px;
    left: 140px;
}

.popupCell {
    background-color: #fffafa;
}

.popupCell:hover {
    background-color: #f5ebe9;
}

.popupItem {
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
}

body {
    margin-bottom: 80px;
}
body.backgroundFit {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}
body.background2 {
    background-color: #cccccc;
}


p.whiten {
    color: white;
    font-weight: bold;
}
p.bold {
    font-weight: bold;
}

p.blueback {
    background-color: blue;
    color: white;
    font-weight: bold;
}
p.orangeback {
    background-color: orange;
    color: white;
    font-weight: bold;	
}
p.greenback {
    background-color: green;
    color: white;
    font-weight: bold;
}

div.hide-show {
    display: none;
}
div.hide-show {
    color: white;
    background-color: blue;
    width: 320px;
}
div.flag {
    background: red;
    height: 100px;
    width: 210px;
    position: relative;	
}
div.flag2 {	
    height: 100px;
    width: 80px;
    margin-left: 65px;
    position: relative;
}


h1.orange { 
    color: orange;
}
h3.bolden {
    font-weight: bold;	
    color: white;
}

.page-header {
    margin-top: 0;
}
.panel-body {
    padding-top: 0;
}
.featureImg {
    margin-bottom: 15px;
}

.errorStyle {
    background-color: #E67777;
    padding: 5px;
    border: 1px solid;
    color: white;			
}
.blacken {
    color: black;
}
